
bin/1111111.bmp
bin/abcd.bmp
bin/abcd1.bmp
mainwindow/Makefile
mainwindow/Makefile.Debug
mainwindow/Makefile.Release
*.obj
*.stash
bin/mainwindow.pdb
bin/mainwindow.ilk
bin/mainwindow.exe
*.Debug
*.Release
*.pdb
camera/Makefile
*.user
*.user
Makefile
CalibTools.pro.user
*.user
